@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.init-body {
    display: flex;
}

.hamburger-icon {
    display: none;
}

nav {
    /* position: fixed; */
    background: #F7F7F7;
    z-index: 100;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-weight: 700;
}

.nav_list {
    display: flex;
    max-width: 40%;
    justify-content: space-between;
    flex: 1;

}

.nav_list ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.nav_list ul li {
    transition: all 0.2s ease-in-out;
    color: #1E1E1E;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    list-style: none;
}

.nav_list ul li a {
    color: #1E1E1E;
    text-decoration: none;
    font-weight: 400;
    list-style: none;
}

.nav_list ul li a:hover {
    color: #8325B0;
}

.nav_list ul li:hover {
    color: #8325B0;
    transition: all 0.2s ease-in-out;
}

.nav_searchBar input {
    border-radius: 8px;
    padding: 13px 15px;
    width: 288px;
    border: 0.5px solid #1E1E1E;
}

.nav_searchBar input:focus {
    outline: none;
    border: 1px solid #8325B0;
}

.profile {
    height: 140%;
    width: 470px;
    /* position: fixed; */
    z-index: 1;
    background: #F7F7F7;
    overflow-y: scroll;
    top: 0%;
    /* bottom: 0%; */
    padding-top: 20px;
}

.profile_img {
    /* margin-top: 40%; */
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
}

.profile_img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* height: 100%; */
}

.profile_name {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
}

.profile_talent {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 6px;
}

.profile_location {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.profile_mobile {
    display: none;
}

.profile_portfolio p a {
    color: #8325B0;
}

.divided-line {
    height: 0.5px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #1E1E1E;
    color: #1E1E1E;
}

.profile_bio {
    margin: auto;
    font-size: 18px;
    padding: 0px 10px;
}

.profile_bio li {
    padding: 7px;
    list-style: none;
    text-align: center;
}

.contact-bio li {
    margin-top: 15px;
    background: #EBEBEB;
    box-shadow: 0px 4px 4px rgba(30, 30, 30, 0.1);
    border-radius: 8px;
}

.profile_bio li a {
    text-decoration: none;
    color: #8325B0;
}

.port_link {
    text-align: center;
}

.form_inputs {
    margin: auto;
    flex: 1;
    max-width: 92%;
    display: flex;
    flex-direction: column;
}

.main_form_inputs {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

.main_form_inputs label {
    margin: 15px 0px;
    color: #1E1E1E;
    font-size: 22px;
}

.main_form button {
    transition: all 0.2s ease-in-out;
    padding: 15px 20px;
    color: white;
    border-radius: 8px;
    background: #8325B0;
    border: 0.5px solid #1E1E1E;
    width: 98%;
    font-size: 22px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 70px;
}

.main_form_inputs input {
    padding: 15px 20px;
    border: 0.5px solid #1E1E1E;
    border-radius: 8px;
    width: 100%;
}

.main_body {
    width: 70%;
}

.main_body p {
    /* margin-top: 40px; */
    font-size: 80px;
}

.main_body_title {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    background: #F7F7F7;
    /* margin: auto; */
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
}

.main_body_title p {
    font-size: 18px;
    color: #1E1E1E;
    margin: auto;
}

.main_body_title svg {
    cursor: pointer;
}

.main_body_jobs_head {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

.main_body_jobs {
    background: #F7F7F7;
    padding: 32px;
    border-radius: 8px;
    margin: 28px 40px;
}

textarea {
    border-radius: 8px;
}

.main_body_jobs_head p {
    font-size: 18px;
    font-weight: 400;
}

.add {
    display: none;
}

.main_body_jobs_head p span {
    font-size: 14px;
}

.main_body_jobs_head .location {
    font-size: 14px;
}

.job_details h1 {
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 400;
}

.job_details p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.job_req h1 {
    margin-bottom: 8px;
    font-size: 16px;

}

.job_details_more {
    justify-content: space-between;
    display: flex;
}

.job_details_more button {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: #8325B0;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}

.job_details_more button a {
    color: white;
    text-decoration: none;
}

footer {
    background: #F7F7F7;
    color: black;
}

.footer_init {
    margin-top: 80px;
    display: flex;
    margin-bottom: 0px;
    justify-content: space-around;
}

.footer_init .quick_links {
    font-size: 18px;
}

.footer_cover {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;

}

.footer_init .quick_links p {
    margin-bottom: 12px;
}

.footer_init .quick_links ul li {
    list-style: none;
    margin-bottom: 8px;
    cursor: pointer;

}

.footer_cover svg {
    margin: auto;
    margin-bottom: 15px;
}

.goals {
    /* flex: 1; */
    /* display: flex; */
    width: 100%;
}

.goals_links {
    max-width: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.goals_links svg {
    margin-top: 1px;
    margin-left: 0;
    height: 20%;
    cursor: pointer;
    width: 60%;
}

.goals_contact {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 50%;

}

.goals_contact .imgs {
    display: flex;
    margin-top: 1px;
    margin-left: 0;
    height: 100%;
    cursor: pointer;
    width: 100%;
}

.goals_contact p {
    font-size: 14px;
    width: 100%
}

.menu {
    display: none;
}

.main_body .hire_info {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#post-txt:focus {
    outline: none;
    border: 0.5px solid #8325B0;
}

.main_form_inputs input:focus {
    outline: none;
    border: 0.5px solid #8325B0;
}

@media screen and (max-width: 912px) {
    .main_body {
        width: 100%;
    }

    .nav_list {
        display: none;
    }

    .nav_searchBar {
        display: none;
    }

    .goals_links svg {
        width: 150px;
    }

    .menu_searchBar input {
        border-radius: 8px;
        padding: 13px 15px;
        /* width: 288px; */
        width: 100%;
        border: 0.5px solid #1E1E1E;
    }

    .profile {
        display: none;
    }

    .hamburger-icon {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 2px;
        padding-left: 0px;
        padding: 15px;
        cursor: pointer;
    }

    .hamburger-icon div {
        width: 35px;
        margin-top: 3px;
        background-color: black;
        height: 4px;
        transition: all 0.4s ease-in-out;
    }

    .menu {
        position: fixed;
        width: 0;
        height: 60%;
        right: 0;
        top: 0;
        margin: auto;
        /* padding: 20px; */
        flex-direction: column;
        display: flex;
        background-color: rgb(69, 37, 84);
        justify-content: center;
        /* align-items: center; */
        transition: 0.2s;
        overflow-x: hidden;
        z-index: 1000;
    }

    .profile_mobile {
        position: fixed;
        width: 0;
        height: 100%;
        right: 0;
        top: 0;
        margin: auto;
        flex-direction: column;
        display: flex;
        background-color: white;
        justify-content: center;
        transition: 0.2s;
        overflow-y: scroll;
        z-index: 1000;
    }

    .menu ul {
        margin-top: 50px;
    }

    .menu ul li {
        margin-bottom: 12px;
        padding: 12px;
        font-size: 25px;
        list-style: none;
        color: white;
    }

    .menu ul li a {
        text-decoration: none;
        color: white;
    }

    .menu-list p {
        font-size: 45px;
        margin-bottom: 20px;
        cursor: pointer;
        padding: 30px;
        transition: all 0.3s ease-in-out;
    }

    .menu-list p a {
        text-decoration: none;
        color: rgb(158, 158, 158);
    }

    .menu-list p a:hover {
        transition: all 0.3s ease-in-out;
        color: rgb(255, 255, 255);
    }

    .menu-close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: rgb(158, 158, 158);
        font-size: 55px;
    }

    .menu-close:hover {
        color: white;
        transition: all 0.3s ease-in-out;
    }

    div .second-icon {
        width: 27px;
    }

    div .first-icon {
        width: 20px;
    }

    .hamburger-icon:hover div {
        width: 35px;
        transition: all 0.4s ease-in-out;
    }

    .footer_init {
        flex-direction: column;
    }

    /* .goals_contact {
        flex-direction: column;
    } */
    .goals_links {
        max-width: 50%;
    }

    .quick_links {
        /* padding: 20px; */
        margin-bottom: 20px;
    }

    .goals_contact {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex: 1;
        /* width: 250%; */
        max-width: 100%;

    }

    .goals_contact .imgs {
        width: 30%;
        height: 30%;

    }

    .goals_contact .imgs svg {
        /* padding: 20px; */
        margin-left: 12px;
    }

    .profile_mobile_img {
        /* margin-top: 40%; */
        margin: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        margin-bottom: 12px;
    }

    .profile_mobile_img img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        /* height: 100%; */
    }

    .profile_mobile_name {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 12px;
    }

    .profile_mobile_talent {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 6px;
    }

    .profile_mobile_location {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    .profile_mobile_portfolio p a {
        color: #8325B0;
    }

    .profile_mobile_bio {
        color: black;
        margin: auto;
        font-size: 24px;
        padding: 0px 10px;
    }

    .profile_mobile_bio li {
        padding: 7px;
        list-style: none;
        text-align: center;
    }

    .profile_mobile_bio li a {
        text-decoration: none;
        color: #8325B0;
    }

    .profile_mobile_skills ul li {
        color: black;
        font-size: 16px;
    }

    .profile_mobile {
        color: black;
    }

    .port_mobile_link {
        text-align: center;
    }

    .closeMobile {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 65px;
    }
}

@media screen and (max-width: 540px) {
    .divided-line {
        height: 0.5px;
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px;
        background-color: #1E1E1E;
        color: #1E1E1E;
    }

    .main_form_inputs label {
        margin: 6px 0px;
        color: #1E1E1E;
        font-size: 12px;
    }

    .main_form_inputs input {
        padding: 10px 15px;
    }

    .main_body_title {
        padding: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .main_body_jobs {
        padding: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .main_body_title p {
        font-size: 12px;
    }

    .main_body .hire_info {
        font-size: 10px;
        font-weight: 400;
        margin-top: 12px;
        margin-bottom: 20px;
        text-align: center;
    }

    .main_body_jobs p {
        font-size: 12px;
    }

    .main_body_jobs_head p span {
        font-size: 10px;
    }

    .main_body_jobs_head .location {
        font-size: 10px;
    }

    .job_details h1 {
        font-size: 11px;
        /* margin-bottom: 20px; */
    }

    .job_details p {
        font-size: 10px;
        /* margin-bottom: 20px; */
    }

    .job_req h1 {
        font-size: 12px;
    }

    .menu {
        height: 100%;
    }

    .add {
        display: inline-block;
    }

    .goals_contact .imgs {
        width: 40%;
        height: 40%;

    }

    .footer_init {
        margin-left: 20px;
    }

    .links_quick {
        display: none;
    }

    .toggle {
        display: block;
    }

    .links_quick {
        font-size: 10px;
    }

    .footer_init {
        margin-left: 10px;
    }

    .quick_links p {
        font-size: 12px;
    }

    .goals {
        font-size: 12px;
    }

    .nav_logo svg {
        width: 90px;
    }

    .goals_links svg {
        width: 90px;
    }

    .profile_mobile_img {
        /* margin-top: 40%; */
        margin: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        /* margin-bottom: 52px; */
    }

    .profile_mobile_img img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        /* height: 100%; */
    }

    .profile_mobile_name {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 52px;
    }

    .profile_mobile_talent {
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 5px;
    }

    .profile_mobile_location {
        font-size: 12px;
        font-weight: 700;
        text-align: center;
    }

    .profile_mobile_portfolio p a {
        color: #8325B0;
    }

    .profile_mobile_bio {
        color: black;
        margin: auto;
        font-size: 12px;
        padding: 0px 10px;
    }

    .profile_mobile_bio li {
        padding: 7px;
        list-style: none;
        text-align: center;
    }

    .profile_mobile_bio li a {
        text-decoration: none;
        color: #8325B0;
    }

    .profile_mobile_skills ul li {
        color: black;
        font-size: 10px;
    }

    .profile_mobile {
        color: black;
    }

    .port_mobile_link {
        text-align: center;
    }

    .closeMobile {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 45px;
    }
}

@media screen and (max-width: 390px) {

    .job_details_more button {
        font-size: 12px;
        padding: 10px 20px;
    }

    .goals_contact .imgs svg {
        width: 100%;
    }

    .goals_contact .imgs {
        width: 50%;
        margin-left: -4px;
        height: 40%;

    }

}